*{
    margin: 0%;
    padding: 0%;
}
body{
    box-sizing: border-box;
}
/* main section style */
main{
    max-width:1440px;
}
/* banner section style */
.banner{
  width:100%;
  height:652px;
  background-image:url("./B10A1-Challenge-Begins/assets/Hero-bg.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner img{
    width: 240px;
    height: 240px;
    margin-bottom:50px;
}
.banner h2{
    width:700px;
    text-align: center;
    font-size:48px;
    font-weight:bolder;
    color: #0D1321;
    margin-bottom:50px;
}
.banner p{
 width:700px;
 text-align: center;
 font-size:16px;
 font-weight: 400;
 color:#0D1321;
 margin-bottom:50px;
}
.banner button[type="button"]{
    width:244px;
    height:65px;
    background-color: #0d1321c5;
    border:none;
    border-radius:5px;
}
.banner button[type="button"] a{
    text-decoration:none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
